body{
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #eee;
}

.card{
    font-family: "Candara", sans-serif;
    width: 340px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
}